/* Establecemos valores universales para empezar desde cero con un estilo "limpio" para todos los formatos */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Abel', sans-serif;
}

:root{
    --primary-color: white;
    --secondary-color: black;
}

.dark_theme{
    --primary-color: black;
    --secondary-color: white;
}

/* Definimos el grid a utilizar */
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float:left;
    padding: 15px;
}

/* Estilizamos el body que contiene todas las secciones de la página para todos los formatos */
body{
    height: 100vh;
    overflow: hidden;
}

.ai{
    width: 50px;
    height: 50px;
    margin-right: 8px;
    border-radius: 30px;
    border-color: #0098DD;
}

/* Estilos de la cabecera + posición sticky paara que se quede fija para todos los formatos */
.header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
    font-family: 'Abel', sans-serif;
}

.nav .bi:hover{
    opacity: 0.5;
}

.bi-arrow-right-circle:hover{
    opacity:0.5;
}

.bi-arrow-left-circle:hover{
    opacity: 0.5;
}

.bi-box-arrow-in-right:hover{
    opacity:0.5;
}


.avatar_titulo{
    display: flex;
    margin-left: 100px;
    justify-content: space-evenly;
}

.avatar_titulo h1{
    font-family: 'Abel', sans-serif;
}

.i_sesion{
    margin-right: 270px;
}

.bi-person-square::before {
    margin-left: 150px;
}

.col-9{
    display:flex;
    align-items: center;
}

.col-3 {
    padding: 0;
}

.bi {
    color: #0098DD;
    font-size: 40px;
}

/*Icono volver atras*/
.bi-arrow-left-circle {
    margin: auto;
    font-size: 40px;
    cursor: pointer;
    margin-left: 8px;
}

/*Imagen panda*/
#logo {
    margin: auto;
    width: 80px;
    border-radius: 100px;
    float: right;
    margin-right: 0;
}

/*Logo texto*/
#logo_text {
    margin: auto;
    font-size: 20px;
    font-family: 'Monoton', cursive;
    text-align: center;
    margin-left: 0;    
}

/*imagen al iniciar sesión*/
.bi-person-circle {
    margin: auto; 
    font-size: 45px;
    cursor: pointer;
    margin-right: 8px;
}


.nav{
    display: none;
}

/*Estilo de las secciones de música y la barra de scroll interna para todos los formatos*/
/*Posición del main + color de fondo + barra interna de scroll*/
.main {
    width: 75%;
    height: 71.5vh;
    background-color: white;
    overflow-y: scroll;
    padding-bottom: 5rem;
}

/*Estilo de la barra de scroll interna*/
.main::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 7px;
}

/*Ancho de la barra de scroll interna*/
.main::-webkit-scrollbar:vertical {
    width: 7px;
}

/*Color de la barra de scroll interna*/
.main::-webkit-scrollbar-thumb {
    background-color:#0098DD;
}

.main h1{
    float:left;
    font-size: 24px;
    font-size: bold;
    margin-left: 20px;
}

.imagenes{
    display:flex;
    margin-left: 40px;
    margin-top: 40px;
}

.main img{
    width:60px;
}

.letras{
    text-align: inherit;
    text-align:center;
    margin-top: 0px;
    margin-left: 20px;
}

.grande{
    font-size: 20px;
    float: left;
}

.grande1{
    font-size: 20px;
    float: left;
}

.pequeno{
    font-size: 15px;
    float:left;
}

.calendario{
    display: block;
}

.calendario h1{
    font-size: 24px;
}

.centrar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.calendario_bueno{
    width:350px;
}

.calendario li{
    text-align: right;
}

ol{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
    font-size: 20px;
    color: #0098DD;
}

.primer_dia{
    grid-column-start: 4;
    
}

.dia{
    font-weight: bold;
    text-align: center;
}

.fecha{
    color: #dd0000;
}


.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    margin-bottom: 30px;
}

.footer .navegacion {
    display: flex;
    flex-direction: row;
    list-style: none;   
}

.footer .navegacion li {
    text-align: center;
    margin: auto;
}

body.dark_theme #logo{
    content: url(../images/panda_dark.png);
}

.main, .header, .footer, .nav{
    background-color: var(--primary-color);
}

body{
    background-color: var(--primary-color);
}

.main h1, p, h2, h3, .dia{
    color: var(--secondary-color);
}

.header h1{
    color: var(--secondary-color);
}

/* Formato para móviles*/
[class*= "col-"] {
    width: 100%;
}

.cuadro h1 {
    font-family: 'Staatliches', cursive;
    
}

.nav .calendarios{
    background-color: #0098DD;
    border-radius: 10%;
}
.nav ul li a .bi-calendar-week{
    color: white;
}

.footer .calendarios{
    background-color: #0098DD;
    border-radius: 10%;
}
.footer ul li a .bi-calendar-week{
    color: white;
}


/* Formato para tablet */
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 100%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 100%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .nav{
        padding: 0;
        height: 80%;
        top:0;
        left:0;
        z-index: 1;
        display: block;
    }

    .navegacion li {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .nav .bi {
        color: #0098DD;
        font-size: 40px;
    }

    /*Icono tres rayitas*/
    .bi-list {
        font-size: 45px;
    }

    /*Imagen panda*/
    #logo {
        width: 90px;
    }

    /*Logo texto*/
    #logo_text {
        font-size: 25px;
    }

    /*imagen al iniciar sesión*/
    .bi-person-circle {
        font-size: 50px;
    }

    /*Estilo de las secciones de música para tablet*/
    .main {
        height: 80vh;
    }

    /* Estilos de la cabecera + posición sticky paara que se quede fija para todos los formatos */
    .header {
        position: sticky;
        width: 100%;
        top: 0;
        z-index: 100;
        font-family: 'Abel', sans-serif;
    }

    .footer{
        display: none;
    }

    .caja {
        width: 80%;
    }

    .registro_icono li a {
        width: 80%;
    }

    .form_bot {
        display: flex;
    }

    .bi-arrow-right-circle::before {
        margin-top: 110px;
    }

    .main h1 {
        text-align: center;
    }
    
    .main h1{
        float:left;
        font-weight: 20px;
        font-size: bold;
        margin-left: 60px;
    }
    
    .imagenes{
        display:flex;
        margin-left: 90px;
    }
    
    .main img{
        width:100px;
    }
    
    .letras{
        text-align:center;
        margin-top: 20px;
        margin-left: 20px;
    }
    
    .grande{
        font-size: 30px;
    }
    
    .grande1{
        font-size: 30px;
        float: left;
    }
    
    .pequeno{
        font-size: 20px;
        float:left;
    }
    
    .calendario{
        display: block;
    }
    
    .calendario h1{
        font-size: 35px;
    }
    
    .calendario_bueno{
        width:600px;
    }
    
    .calendario li{
        text-align: right;
    }
    
    ol{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        padding: 0;
        font-size: 20px;
        color: #0098DD;
    }
    
    .primer_dia{
        grid-column-start: 4;
        
    }
    
    .dia{
        font-weight: bold;
        text-align: center;
    }
    
    .fecha{
        color: #dd0000;
    }
    
    .centrar{
        margin-left: 40px;
    }

    .ai{
        width: 60px;
        height: 60px;
        margin-right: 8px;
        border-radius: 40px;
        border-color: #0098DD;
    }

}

/* Formato para desktop */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 100%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 100%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    /*Estilo de la barra de navegación para desktop*/
    /*Navegación (lado izquierda)*/
    /*Estilo de la barra de navegación lateral para tablets*/
    .nav{
        display: block;
    }

    .navegacion {
        list-style: none;
    }

    .navegacion li {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .nav .bi {
        color: #0098DD;
        font-size: 40px;
    }

    /*Icono tres rayitas*/
    .bi-list {
        font-size: 50px;
    }

    /*Imagen panda*/
    #logo {
        width: 100px;
    }

    /*Logo texto*/
    #logo_text {
        font-size: 30px;
    }

    /*imagen al iniciar sesión*/
    .bi-person-circle {
        font-size: 55px;
        margin-right: 10px;
    }
    
    /* Estilos de la cabecera + posición sticky paara que se quede fija para todos los formatos */
    .header {
        position: sticky;
        width: 100%;
        top: 0;
        z-index: 100;
        font-family: 'Abel', sans-serif;
    }

    .footer{
        display: none;
    }

    .caja {
        width: 60%;
    }

    .registro_icono li a {
        width: 60%;
    }

    .main h1 {
        text-align: center;
    }
    
    .main h1{
        float:left;
        font-weight: 20px;
        font-size: bold;
        margin-left: 60px;
    }
    
    .imagenes{
        display:flex;
        margin-left: 90px;
    }
    
    .main img{
        width:100px;
    }
    
    .letras{
        text-align:center;
        margin-top: 20px;
        margin-left: 20px;
    }
    
    .grande{
        font-size: 30px;
    }
    
    .grande1{
        font-size: 30px;
        float: left;
    }
    
    .pequeno{
        font-size: 20px;
        float:left;
    }
    
    .calendario{
        display: block;
    }
    
    .calendario h1{
        font-size: 35px;
    }
    
    .calendario_bueno{
        width:600px;
    }
    
    .calendario li{
        text-align: right;
    }
    
    ol{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        padding: 0;
        font-size: 20px;
        color: #0098DD;
    }
    
    .primer_dia{
        grid-column-start: 4;
        
    }
    
    .dia{
        font-weight: bold;
        text-align: center;
    }
    
    .fecha{
        color: #dd0000;
    }

    .centrar{
        margin-left: 60px;
    }

    .ai{
        width: 70px;
        height: 70px;
        margin-right: 10px;
        border-radius: 50px;
        border-color: #0098DD;
    }
}