/* Establecemos valores universales para empezar desde cero con un estilo "limpio" para todos los formatos */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Abel', sans-serif;
}

:root{
    --primary-color: white;
    --secondary-color: black;
}

.dark_theme{
    --primary-color: black;
    --secondary-color: white;
}

label {
    display: none;
    color: var(--secondary-color);
    background-color: var(--primary-color) ;
}

/* Definimos el grid a utilizar */
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float:left;
    padding: 15px;
}

/* Estilizamos el body que contiene todas las secciones de la página para todos los formatos */
body{
    height: 100vh;
    overflow: hidden;
    width: auto;    
}

.ai{
    width: 50px;
    height: 50px;
    margin-right: 8px;
    border-radius: 30px;
    border-color: #0098DD;
}

/* Estilos de la cabecera + posición sticky paara que se quede fija para todos los formatos */
.header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
    font-family: 'Abel', sans-serif;
}

.col-9{
    display:flex;
    align-items: center;
}

.col-3 {
    padding: 0;
}

.bi {
    color: #0098DD;
    font-size: 40px;
}

/*Icono volver atras*/
.bi-arrow-left-circle {
    margin: auto;
    font-size: 40px;
    cursor: pointer;
    margin-left: 8px;
}

/*Imagen panda*/
#logo {
    margin: auto;
    width: 80px;
    border-radius: 100px;
    float: right;
    margin-right: 0;
}

/*Logo texto*/
#logo_text {
    margin: auto;
    font-size: 20px;
    font-family: 'Monoton', cursive;
    text-align: center;
    margin-left: 0;    
}

/*imagen al iniciar sesión*/
.bi-person-circle {
    margin: auto; 
    font-size: 45px;
    cursor: pointer;
    margin-right: 8px;
}

/*Botones de navegación*/
.nav{
    display: none;
}

.nav .bi:hover{
    opacity: 0.5;
}

/*Estilo de las secciones de música y la barra de scroll interna para todos los formatos*/
/*Posición del main + color de fondo + barra interna de scroll*/
.main {
    width: 75%;
    height: 71.5vh;
    background-color: white;
    overflow-y: scroll;
    padding-bottom: 5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*Estilo de la barra de scroll interna*/
.main::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 7px;
}

/*Ancho de la barra de scroll interna*/
.main::-webkit-scrollbar:vertical {
    width: 7px;
}

/*Color de la barra de scroll interna*/
.main::-webkit-scrollbar-thumb {
    background-color:#0098DD;
}

.main h2{
    font-family: 'Staatliches', cursive;
}  

/*Parte de arriba*/
.linea1 {
    display: flex;
    flex-direction: row;
    list-style: none;   
    margin-bottom: 31px; 
    padding-top: 5px;
}

.linea1 li {
    text-align: center;
    margin: auto;
}

.linea2 {
    display: inline-block;
    position: relative;
    list-style: none;

}

.linea2 .imgplaylist {
    margin-bottom: 10px;
}

.linea2 .imgplaylist img {
    width: 50%;
    margin-bottom: 10px;
}

.linea2 .imgplaylist .bi-square-fill {
    color: rgb(184, 184, 184);
    font-size: 200px;
}

.linea2 .imgplaylist .bi-file-music-fill {
    position: absolute;
    font-size: 100px;
    padding-top: 30px;
    padding-left: 50px;
}

.linea2 .imgplaylist .bi-file-music-fill:hover{
    opacity: 1;
    background-color: black;
}

.linea2 .imgplaylist .bi-camera {
    position: absolute;
    padding-top: 150px;
    padding-left: 130px;
}



.descripcion, .nomplaylist {
    text-align: center;
}

.linea3 {
    display: flex;
    flex-direction: row;
    list-style: none;   
    margin-bottom: 15px; 
    padding-top: 5px;    
    text-align: center;
    justify-content: center;
    align-items: center;
}

.linea3 li {
    text-align: center;
    
}

.linea3 li p {
    font-size: 30px;
    margin-left: 10px;
}

.caja {
    border-radius: 10px;
    width: 90%;
    position: relative;
    background:  #0098DD;
    color: white;
    padding: 1rem;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    border: none;
}

::placeholder {
    color: white;
}

#desplegable {
    display: none;
}

/*Barra búsquedas*/
#myInput{
    width: 100%;
    padding:15px;
    border-radius: 10px;
    text-decoration: none;
}

#busquedas {
    display: none;
}
  
#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100px;
    overflow: auto;
}
  
#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #005E8A;
    padding: 12px;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    display: block;
    text-align: left;
}
  
#myUL li a:hover:not(.header) {
    opacity: 0.5;
}



/*Estilo del footer para todos los formatos + posición fija*/
/*Disponemos todo el texto alineado al centro, ocupando el total del ancho de la pantalla, "juntado" al bottom de la pagina web. Ademas, proporcionamos color y fomato de letra*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: white;
}

.footer .navegacion {
    display: flex;
    flex-direction: row;
    list-style: none;   
    margin-bottom: 31px; 
    padding-top: 5px;
}

.footer .navegacion li {
    text-align: center;
    margin: auto;
}

body.dark_theme #logo{
    content: url(../images/panda_dark.png);
}

.main, .header, .footer, .nav{
    background-color: var(--primary-color);
}

body{
    background-color: var(--primary-color);
}

.main h1, p, h2, h3, h4{
    color: var(--secondary-color);
}

.header h1{
    color: var(--secondary-color);
}

.bi-arrow-left-circle:hover, .bi-x-circle:hover, .bi-check-circle:hover, .bi-plus-circle:hover{
    opacity:0.5;
}

/* Formato para móviles*/
[class*= "col-"] {
    width: 100%;
}

.nav .crear{
    background-color: #0098DD;
    border-radius: 10%;
}
.nav ul li a .bi-plus-square{
    color: white;
}

.footer .crear{
    background-color: #0098DD;
    border-radius: 10%;
}
.footer ul li a .bi-plus-square{
    color: white;
}

#btn_check{
    background: none;
    border: none;
}


/* Formato para tablet */
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 100%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 100%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    /*Estilo de la barra de navegación lateral para tablets*/
    .nav{
        padding: 0;
        height: 80%;
        top:0;
        left:0;
        z-index: 1;
        display: block;
    }

    .navegacion li {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .nav .bi {
        color: #0098DD;
        font-size: 40px;
    }

    /*Estilo de las secciones de música para tablet*/
    .main {
        height: 80vh;
    }
    
    /*Icono tres rayitas*/
    .bi-list {
        font-size: 45px;
    }

    /*Imagen panda*/
    #logo {
        width: 90px;
    }

    /*Logo texto*/
    #logo_text {
        font-size: 25px;
    }

    /*imagen al iniciar sesión*/
    .bi-person-circle {
        font-size: 50px;
    }

    .footer {
        display: none;
    }

    .ai{
        width: 60px;
        height: 60px;
        margin-right: 8px;
        border-radius: 40px;
        border-color: #0098DD;
    }
}

/* Formato para desktop */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 100%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 100%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    /*Estilo de la barra de navegación para desktop*/
    /*Navegación (lado izquierda)*/

    .nav{
        display: block;
    }

    .navegacion {
        list-style: none;
    }

    .navegacion li {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .nav .bi {
        color: #0098DD;
        font-size: 40px;
    }

    /*Icono tres rayitas*/
    .bi-list {
        font-size: 50px;
    }

    /*Imagen panda*/
    #logo {
        width: 100px;
    }

    /*Logo texto*/
    #logo_text {
        font-size: 30px;
    }

    /*imagen al iniciar sesión*/
    .bi-person-circle {
        font-size: 55px;
        margin-right: 10px;
    }

    .footer {
        display: none;
    }

    .ai{
        width: 70px;
        height: 70px;
        margin-right: 10px;
        border-radius: 50px;
        border-color: #0098DD;
    }

}